.buttons-inline {
    display: flex;
    align-items: center;
}

.buttons-inline a,
.buttons-inline .inline-form {
    margin-right: 10px;
}

.inline-form {
    display: inline;
}

.form-check-container {
    display: flex;
    align-items: center; /* Align items vertically center */
}
.form-check-container .form-check {
    margin-right: 20px; /* Add some space between the checkboxes */
}



.tabs-process .nav-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.tabs-process .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 auto;
    font-size: 20px; /* Adjust the icon size */
}

.tabs-process .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.tabs-process .nav-link:hover {
    background-color: #0056b3;
    color: #fff;
}

.tabs-process .nav-item .step-title {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.tabs-process .nav-link:not(:first-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    z-index: -1;
}

.tabs-process .nav-link.active ~ .nav-link::after {
    background-color: #007bff;
}


